###  데이터 불러오기

#### 1.GDP

In [1]:
import pandas as pd
gdp = pd.read_csv('C:/Users/qkrrl/baf/GDP.csv')
print(gdp.head())
print(gdp.tail())

  observation_date        GDP
0       2005-01-01  12767.286
1       2005-04-01  12922.656
2       2005-07-01  13142.642
3       2005-10-01  13324.204
4       2006-01-01   13599.16
   observation_date        GDP
78       2024-07-01  29374.914
79       2024-10-01  29723.864
80       2025-01-01  29962.047
81       2025-04-01  30353.902
82       2025-07-01  30,504.50

#### 2.실업률

In [2]:
import pandas as pd
unrate = pd.read_csv('C:/Users/qkrrl/baf/UNRATE.csv')
print(unrate.head())

  observation_date  UNRATE
0       2005-01-01     5.3
1       2005-02-01     5.4
2       2005-03-01     5.2
3       2005-04-01     5.2
4       2005-05-01     5.1

#### 3. 물가지수

In [3]:
import pandas as pd
cpi = pd.read_csv('C:/Users/qkrrl/baf/CPIAUCSL.csv')
print(cpi.head())
print(cpi.tail())

  observation_date  CPIAUCSL
0       2005-01-01     191.6
1       2005-02-01     192.4
2       2005-03-01     193.1
3       2005-04-01     193.7
4       2005-05-01     193.6
    observation_date  CPIAUCSL
243       2025-04-01   320.321
244       2025-05-01   320.580
245       2025-06-01   321.500
246       2025-07-01   322.132
247       2025-08-01   323.364

#### 4. 금리

In [4]:
import pandas as pd
real_rate = pd.read_csv('C:/Users/qkrrl/baf/REAINTRATREARAT10Y.csv')
print(real_rate.head())
print(real_rate.tail())

dgs10 = pd.read_csv('C:/Users/qkrrl/baf/DGS10.csv')
print(dgs10.head())
print(dgs10.tail())

  observation_date  REAINTRATREARAT10Y
0       1982-01-01            7.623742
1       1982-02-01            7.656648
2       1982-03-01            7.128993
3       1982-04-01            7.408347
4       1982-05-01            7.320041
    observation_date  REAINTRATREARAT10Y
519       2025-04-01            1.670487
520       2025-05-01            1.666143
521       2025-06-01            1.869240
522       2025-07-01            1.659887
523       2025-08-01            1.178415
  observation_date  DGS10
0       2005-01-03   4.23
1       2005-01-04   4.29
2       2005-01-05   4.29
3       2005-01-06   4.29
4       2005-01-07   4.29
     observation_date  DGS10
5399       2025-09-12   4.06
5400       2025-09-15   4.05
5401       2025-09-16   4.04
5402       2025-09-17   4.06
5403       2025-09-18   4.11

#### 5. 고객데이터

In [5]:
import pandas as pd
cl_data = pd.read_csv('C:/Users/qkrrl/baf/final_basic_autoinsurance_churn.csv')
print(cl_data.head())

   individual_id  curr_ann_amt  days_tenure cust_orig_date date_of_birth  \
0   2.213000e+11    818.877997       1454.0     2018-12-09    1978-06-23
1   2.213001e+11    974.199182       1795.0     2018-01-02    1950-05-30
2   2.213007e+11    967.375112       4818.0     2009-09-23    1967-07-07
3   2.213016e+11    992.409561        130.0     2022-07-25    1969-05-25
4   2.213016e+11    784.633494       5896.0     2006-10-11    1972-09-25

     income  has_children  length_of_residence home_market_value  \
0   22500.0             1                 15.0     50000 - 74999
1   27500.0             0                  2.0     50000 - 74999
2   42500.0             0                 10.0     75000 - 99999
3  125000.0             1                  6.0   175000 - 199999
4   87500.0             1                  4.0   225000 - 249999

   age_in_years  home_owner  college_degree  good_credit           city  \
0            44         1.0             1.0          1.0        Kaufman
1            72         1.0             0.0          0.0  Grand Prairie
2            55         1.0             0.0          0.0         Dallas
3            53         1.0             0.0          1.0      Arlington
4            50         1.0             1.0          1.0     Fort Worth

    county  cust_orig_year cust_orig_month  churn
0  Kaufman            2018         2018-12      0
1   Dallas            2018         2018-01      0
2   Dallas            2009         2009-09      0
3  Tarrant            2022         2022-07      1
4  Tarrant            2006         2006-10      0

In [6]:
## 데이터 범위확인 -> 이후에 분석시 인덱싱해야할 듯
import pandas as pd
cl_data['cust_orig_date'] = pd.to_datetime(cl_data['cust_orig_date'])

# cust_orig_data 에서 가장 오래된 날짜와 최근 날짜 출력
start_date = cl_data['cust_orig_date'].min()
end_date = cl_data['cust_orig_date'].max()

print("데이터 범위:", start_date.date(), "~", end_date.date())

데이터 범위: 2005-09-11 ~ 2022-11-12

In [7]:
## 변수 확인
print(cl_data.columns)
## 변수 의미
print(cl_data.info())

Index(['individual_id', 'curr_ann_amt', 'days_tenure', 'cust_orig_date',
       'date_of_birth', 'income', 'has_children', 'length_of_residence',
       'home_market_value', 'age_in_years', 'home_owner', 'college_degree',
       'good_credit', 'city', 'county', 'cust_orig_year', 'cust_orig_month',
       'churn'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1668794 entries, 0 to 1668793
Data columns (total 18 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   individual_id        1668794 non-null  float64
 1   curr_ann_amt         1668794 non-null  float64
 2   days_tenure          1668794 non-null  float64
 3   cust_orig_date       1668794 non-null  datetime64[ns]
 4   date_of_birth        1668794 non-null  object
 5   income               1668794 non-null  float64
 6   has_children         1668794 non-null  int64
 7   length_of_residence  1668794 non-null  float64
 8   home_market_value    1668794 non-null  object
 9   age_in_years         1668794 non-null  int64
 10  home_owner           1668794 non-null  float64
 11  college_degree       1668794 non-null  float64
 12  good_credit          1668794 non-null  float64
 13  city                 1668794 non-null  object
 14  county               1668794 non-null  object
 15  cust_orig_year       1668794 non-null  int64
 16  cust_orig_month      1668794 non-null  object
 17  churn                1668794 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(4), object(5)
memory usage: 229.2+ MB
None

### 변수
1. 연간 보험료
2. 가입기간
3. 가입일
4. 생년월일
5. 수입
6. 자녀유무
7. 거주기간
8. 주택가
9. 나이
10. 주택소유여부
11. 학위
12. 신용도
13. 도시

#### 6. S&P500
    - 터미널에 pip install yfinance 또는 아래와 같이 입력

In [8]:
# !pip install yfinance

In [9]:
import yfinance as yf
sp500_data = yf.download('^GSPC', start='2005-01-01')
print(sp500_data.head())
print(sp500_data.tail())

C:\Users\qkrrl\AppData\Local\Temp\ipykernel_12012\2280022811.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  sp500_data = yf.download('^GSPC', start='2005-01-01')
[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open      Volume
Ticker            ^GSPC        ^GSPC        ^GSPC        ^GSPC       ^GSPC
Date
2005-01-03  1202.079956  1217.800049  1200.319946  1211.920044  1510800000
2005-01-04  1188.050049  1205.839966  1185.390015  1202.079956  1721000000
2005-01-05  1183.739990  1192.729980  1183.719971  1188.050049  1738900000
2005-01-06  1187.890015  1191.630005  1183.270020  1183.739990  1569100000
2005-01-07  1186.189941  1192.199951  1182.160034  1187.890015  1477900000
Price             Close         High          Low         Open      Volume
Ticker            ^GSPC        ^GSPC        ^GSPC        ^GSPC       ^GSPC
Date
2025-09-18  6631.959961  6656.799805  6611.890137  6626.850098  5292400000
2025-09-19  6664.359863  6671.819824  6630.310059  6647.109863  9125960000
2025-09-22  6693.750000  6698.879883  6648.069824  6654.279785  5642620000
2025-09-23  6656.919922  6699.520020  6645.580078  6692.439941  5633620000
2025-09-24  6637.970215  6672.660156  6621.759766  6669.790039  5459180000

In [10]:
print(sp500_data.info())
print(sp500_data.columns)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5215 entries, 2005-01-03 to 2025-09-24
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   (Close, ^GSPC)   5215 non-null   float64
 1   (High, ^GSPC)    5215 non-null   float64
 2   (Low, ^GSPC)     5215 non-null   float64
 3   (Open, ^GSPC)    5215 non-null   float64
 4   (Volume, ^GSPC)  5215 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 244.5 KB
None
MultiIndex([( 'Close', '^GSPC'),
            (  'High', '^GSPC'),
            (   'Low', '^GSPC'),
            (  'Open', '^GSPC'),
            ('Volume', '^GSPC')],
           names=['Price', 'Ticker'])

### 미리 인덱스 -> 열로 변환

In [11]:
sp500_data = sp500_data.reset_index()
sp500_data['Date'] = pd.to_datetime(sp500_data['Date'])
sp500_data = sp500_data.sort_values('Date')

## 모델링 이전 고려할 사항
1. 데이터 매핑
2. 거시경제변수의 변동에 따른 반응시간/지속시간 반영
 - GDP (분기별로 적용) -> 7~9월은 데이터가 없어서 4월 데이터로 갈음
 - 실업률 (1개월내) : 증가시하락
 - 물가지수 (1개월내) : 증가시 하락
 - 금리 (1개월내,다른의견도 존재하므로 이후 우리가 검증) : 증가시 하락
 - s&p500 : 증가시 증가
3. 금리 -> 시장금리로 변경 (논문에 의한 검증은 실질금리보다는 시장금리이며, 시장금리는 물가를 반영하므로 다중공선성 우려)
4. 일별, 월별, 분기별 데이터 합치기

## 데이터 합치기
- cust_orig_date에서 days_tenure 수 만큼 일 수를 더한 날짜에 해당하는 시점이전 달, 금리의 경우는 해당 직전분기에 해당하는 value값을 지금 추가하는 거시경제변수를 열로 추가하여 결합

### 1. 기준일 계산

In [13]:
import pandas as pd
cl_data['cust_orig_date'] = pd.to_datetime(cl_data['cust_orig_date'])
cl_data['end_date'] = cl_data['cust_orig_date'] + pd.to_timedelta(cl_data['days_tenure'], unit='D')

### 2. 외부 데이터

In [14]:
gdp['observation_date'] = pd.to_datetime(gdp['observation_date'])
unrate['observation_date'] = pd.to_datetime(unrate['observation_date'])
cpi['observation_date'] = pd.to_datetime(cpi['observation_date'])
dgs10['observation_date'] = pd.to_datetime(dgs10['observation_date'])
sp500_data['Date'] = pd.to_datetime(sp500_data['Date'])

# 정렬
gdp = gdp.sort_values('observation_date')
unrate = unrate.sort_values('observation_date')
cpi = cpi.sort_values('observation_date')
dgs10 = dgs10.sort_values('observation_date')
sp500_data = sp500_data.sort_values('Date')

### 3. 병합하기
- 날짜 맞추고 정렬한 이후, value값을 넣는 과정

In [15]:
# 열 이름 평탄화 (MultiIndex → 일반 컬럼)
sp500_data.columns = sp500_data.columns.get_level_values(0)

# 인덱스 초기화
sp500_data = sp500_data.reset_index()

# 열 이름 통일 및 정렬
sp500_data = sp500_data.rename(columns={'Date': 'sp500_date', 'Close': 'sp500'})
sp500_data = sp500_data.sort_values('sp500_date')

In [16]:
# 고객 데이터 정렬
cl_data = cl_data.sort_values('end_date')

#  GDP (분기별)
gdp = gdp.rename(columns={'observation_date': 'gdp_date'})
cl_data = pd.merge_asof(
    cl_data,
    gdp[['gdp_date', 'GDP']].sort_values('gdp_date'),
    left_on='end_date',
    right_on='gdp_date',
    direction='backward'
)

#  실업률 (월별)
unrate = unrate.rename(columns={'observation_date': 'unrate_date'})
cl_data = pd.merge_asof(
    cl_data,
    unrate[['unrate_date', 'UNRATE']].sort_values('unrate_date'),
    left_on='end_date',
    right_on='unrate_date',
    direction='backward'
)

#  물가지수 (월별)
cpi = cpi.rename(columns={'observation_date': 'cpi_date'})
cl_data = pd.merge_asof(
    cl_data,
    cpi[['cpi_date', 'CPIAUCSL']].sort_values('cpi_date'),
    left_on='end_date',
    right_on='cpi_date',
    direction='backward'
)

#  시장금리 (일별)
dgs10 = dgs10.rename(columns={'observation_date': 'dgs10_date'})
cl_data = pd.merge_asof(
    cl_data,
    dgs10[['dgs10_date', 'DGS10']].sort_values('dgs10_date'),
    left_on='end_date',
    right_on='dgs10_date',
    direction='backward'
)

#  S&P 500 (일별)
sp500_data = sp500_data.rename(columns={'Date': 'sp500_date', 'Close': 'sp500'})
cl_data = pd.merge_asof(
    cl_data,
    sp500_data[['sp500_date', 'sp500']].sort_values('sp500_date'),
    left_on='end_date',
    right_on='sp500_date',
    direction='backward'
)


print(cl_data.head())

   individual_id  curr_ann_amt  days_tenure cust_orig_date date_of_birth  \
0   2.213000e+11    818.877997       1454.0     2018-12-09    1978-06-23
1   2.213018e+11    916.827301       6291.0     2005-09-11    1963-07-29
2   2.213000e+11    840.581478       6291.0     2005-09-11    1977-06-23
3   2.213031e+11    604.383275       6291.0     2005-09-11    1974-09-24
4   2.213024e+11    444.727343       6291.0     2005-09-11    1934-02-01

     income  has_children  length_of_residence home_market_value  \
0   22500.0             1                 15.0     50000 - 74999
1   57500.0             0                 15.0     75000 - 99999
2  250000.0             1                  3.0   175000 - 199999
3   70000.0             1                  6.0   100000 - 124999
4   70000.0             0                  1.0   175000 - 199999

   age_in_years  ...   gdp_date        GDP  unrate_date UNRATE   cpi_date  \
0            44  ... 2022-10-01  26734.277   2022-12-01    3.5 2022-12-01
1            59  ... 2022-10-01  26734.277   2022-12-01    3.5 2022-12-01
2            45  ... 2022-10-01  26734.277   2022-12-01    3.5 2022-12-01
3            48  ... 2022-10-01  26734.277   2022-12-01    3.5 2022-12-01
4            89  ... 2022-10-01  26734.277   2022-12-01    3.5 2022-12-01

   CPIAUCSL dgs10_date  DGS10 sp500_date        sp500
0   298.808 2022-12-02   3.51 2022-12-02  4071.699951
1   298.808 2022-12-02   3.51 2022-12-02  4071.699951
2   298.808 2022-12-02   3.51 2022-12-02  4071.699951
3   298.808 2022-12-02   3.51 2022-12-02  4071.699951
4   298.808 2022-12-02   3.51 2022-12-02  4071.699951

[5 rows x 29 columns]

In [17]:
cl_data.to_csv('C:/Users/qkrrl/baf/merged_findata.csv', index=False, encoding='utf-8-sig')