In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

# 한글 폰트 설정
plt.rcParams['font.family'] = 'AppleGothic'

In [2]:
df1 = pd.read_csv('/Users/zoohunn/Desktop/비어플/비어플[금융]/datasets/data_new_products1101.csv')
df1.head()

,individual_id,curr_ann_amt,days_tenure,date_of_birth,income,has_children,length_of_residence,home_market_value,age_in_years,home_owner,...,gdp_2022_11,dgs10_2022_11,cpi_2022_11,unrate_2022_11,sp500_2022_11,gdp_at_orig,dgs10_at_orig,cpi_at_orig,unrate_at_orig,sp500_at_orig
0,2.213000e+11,818.877997,1454.0,1978-06-23,22500.0,1,15.0,50000 - 74999,44,1.0,...,26734.277,3.89100,298.708,3.6,3917.488595,20917.867,2.832632,252.767,3.9,2567.307386
1,2.213001e+11,974.199182,1795.0,1950-05-30,27500.0,0,2.0,50000 - 74999,72,1.0,...,26734.277,3.89100,298.708,3.6,3917.488595,20328.553,2.583810,248.859,4.0,2789.803816
2,2.213007e+11,967.375112,4818.0,1967-07-07,42500.0,0,10.0,75000 - 99999,55,1.0,...,26734.277,3.89100,298.708,3.6,3917.488595,14448.882,3.401905,215.861,9.8,1044.552383
3,2.213016e+11,992.409561,130.0,1969-05-25,125000.0,1,6.0,175000 - 199999,53,1.0,...,26734.277,3.61619,298.808,3.5,3912.380952,26272.011,2.896000,294.940,3.5,3911.729492
4,2.213016e+11,784.633494,5896.0,1972-09-25,87500.0,1,4.0,225000 - 249999,50,1.0,...,26734.277,3.89100,298.708,3.6,3917.488595,14039.560,4.729048,201.900,4.4,1363.377264

In [3]:
df2 = pd.read_csv('/Users/zoohunn/Desktop/비어플/비어플[금융]/datasets/final_customer_data_1026.csv')
df2.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,individual_id,curr_ann_amt,days_tenure,cust_orig_date,date_of_birth,income,has_children,...,age_at_orig,premium_to_income,policy_proxy_v2,strategy_type_final,tax_benefit_status,surrender_penalty_rate,breakeven_reached,contact_frequency,payment_delay_history,contact_group
0,0,0,0,2.213000e+11,818.877997,1454.0,2018-12-09,1978-06-23,22500.0,1,...,40.0,0.036395,Variable Whole Life,혼합형,not_qualified,0.40,0,3,0,3-4회
1,1,1,1,2.213001e+11,974.199182,1795.0,2018-01-02,1950-05-30,27500.0,0,...,67.0,0.035425,Variable Annuity,안정형,not_qualified,0.20,0,1,0,0-2회
2,2,2,2,2.213007e+11,967.375112,4818.0,2009-09-23,1967-07-07,42500.0,0,...,42.0,0.022762,Variable Universal Life,안정형,qualified,0.00,1,2,0,0-2회
3,3,3,3,2.213016e+11,992.409561,130.0,2022-07-25,1969-05-25,125000.0,1,...,53.0,0.007939,Variable Universal Life,혼합형,not_qualified,0.95,0,6,0,5-6회
4,4,4,4,2.213016e+11,784.633494,5896.0,2006-10-11,1972-09-25,87500.0,1,...,34.0,0.008967,Variable Whole Life,혼합형,qualified,0.00,1,1,0,0-2회

In [4]:
df1 = df1.merge(
    df2[['individual_id', 'tax_benefit_status', 'surrender_penalty_rate', 
         'breakeven_reached', 'contact_frequency', 
         'payment_delay_history', 'contact_group']],
    on='individual_id',
    how='left'
)
df1.head()

,individual_id,curr_ann_amt,days_tenure,date_of_birth,income,has_children,length_of_residence,home_market_value,age_in_years,home_owner,...,dgs10_at_orig,cpi_at_orig,unrate_at_orig,sp500_at_orig,tax_benefit_status,surrender_penalty_rate,breakeven_reached,contact_frequency,payment_delay_history,contact_group
0,2.213000e+11,818.877997,1454.0,1978-06-23,22500.0,1,15.0,50000 - 74999,44,1.0,...,2.832632,252.767,3.9,2567.307386,not_qualified,0.40,0,3,0,3-4회
1,2.213001e+11,974.199182,1795.0,1950-05-30,27500.0,0,2.0,50000 - 74999,72,1.0,...,2.583810,248.859,4.0,2789.803816,not_qualified,0.20,0,1,0,0-2회
2,2.213007e+11,967.375112,4818.0,1967-07-07,42500.0,0,10.0,75000 - 99999,55,1.0,...,3.401905,215.861,9.8,1044.552383,qualified,0.00,1,2,0,0-2회
3,2.213016e+11,992.409561,130.0,1969-05-25,125000.0,1,6.0,175000 - 199999,53,1.0,...,2.896000,294.940,3.5,3911.729492,not_qualified,0.95,0,6,0,5-6회
4,2.213016e+11,784.633494,5896.0,1972-09-25,87500.0,1,4.0,225000 - 249999,50,1.0,...,4.729048,201.900,4.4,1363.377264,qualified,0.00,1,1,0,0-2회

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1641992 entries, 0 to 1641991
Data columns (total 36 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   individual_id           1641992 non-null  float64
 1   curr_ann_amt            1641992 non-null  float64
 2   days_tenure             1641992 non-null  float64
 3   date_of_birth           1641992 non-null  object
 4   income                  1641992 non-null  float64
 5   has_children            1641992 non-null  int64
 6   length_of_residence     1641992 non-null  float64
 7   home_market_value       1641992 non-null  object
 8   age_in_years            1641992 non-null  int64
 9   home_owner              1641992 non-null  float64
 10  college_degree          1641992 non-null  float64
 11  good_credit             1641992 non-null  float64
 12  cust_orig_year          1641992 non-null  int64
 13  cust_orig_month         1641992 non-null  object
 14  churn                   1641992 non-null  int64
 15  tenure_years            1641992 non-null  float64
 16  age_at_orig             1641992 non-null  float64
 17  premium_to_income       1641992 non-null  float64
 18  policy_proxy_v2         1641992 non-null  object
 19  strategy_type_final     1641992 non-null  object
 20  gdp_2022_11             1641992 non-null  float64
 21  dgs10_2022_11           1641992 non-null  float64
 22  cpi_2022_11             1641992 non-null  float64
 23  unrate_2022_11          1641992 non-null  float64
 24  sp500_2022_11           1641992 non-null  float64
 25  gdp_at_orig             1641992 non-null  float64
 26  dgs10_at_orig           1641992 non-null  float64
 27  cpi_at_orig             1641992 non-null  float64
 28  unrate_at_orig          1641992 non-null  float64
 29  sp500_at_orig           1641992 non-null  float64
 30  tax_benefit_status      1641992 non-null  object
 31  surrender_penalty_rate  1641992 non-null  float64
 32  breakeven_reached       1641992 non-null  int64
 33  contact_frequency       1641992 non-null  int64
 34  payment_delay_history   1641992 non-null  int64
 35  contact_group           1378337 non-null  object
dtypes: float64(22), int64(7), object(7)
memory usage: 451.0+ MB

In [6]:
df1.to_csv('/Users/zoohunn/Desktop/비어플/비어플[금융]/datasets/final_data_1102.csv')